body {
  background-color: rgb(3, 236, 236);
}

div {
  display: block;
}

h1 {
  text-align: center;
  text-decoration: double;
}

input {
  display: block;
  width: 50;
  margin: 10%;
  text-align: center;
  padding: 6px;
}

button {
  display: block;
  width: 20%;
  margin: 12%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: rgb(245, 222, 90);
  background-color: black;
  border-radius: 10px;
  border-color: black;
}

form {
  width: 50%;
  position: relative;
  margin-left: 40%;
}